@import url('https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css');

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

a {
    color: #0000EE !important;
    text-decoration: underline !important;
}

.toc-break {
    page-break-after: always;
}

d {
    text-decoration: line-through;
    color: #6a737d;
    display: inline-block;
    white-space: pre;
}
x {
    font-weight: bold;
    display: inline-block;
    white-space: pre;
}
z {
    font-style: italic;
    display: inline-block;
    white-space: pre;
}
h {
    background-color: yellow;
    color: black;
    display: inline-block;
    white-space: pre;
}
.fl {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    white-space: pre;
    text-decoration: underline;
    color: #0366d6;
}
#content {
    max-width: 1080px;
    margin-left: 0;
    margin-right: auto;
    line-height: 1.3;
}

pre,
code {
  font-family: "Sarasa Mono SC", "Source Han Mono", "思源黑体 Mono",
  "Noto Sans Mono CJK SC", Consolas, "Courier New", monospace;
  font-size: 12px;
}

.float-left-img {
    float: left;
    width: 200px;
    margin: 0 20px 20px 0; /* 右边留空，下方留空 */
    display: block;
}

.float-right-img {
    float: right;
    width: 200px;
    margin: 0 0 20px 20px; /* 左边留空，下方留空 */
    display: block;
}

.centered-img {
    display: block;
    margin: 20px auto;
    width: 300px;
    line-height: 1.3;
}

.flow-wrap {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    font-size: 14px;
    line-height: 1.6;
}
.flow-wrap img {
    grid-column: 2;
    width: 200px;
    height: auto;
}
.flow-wrap .left,
.flow-wrap .right {
    text-align: justify;
}
.flow-wrap ul,
.flow-wrap ol {
    margin-top: 0;
}

.clearfix {
    clear: both;
}
.rt {
    color: red;
}
.gt {
    color: green;
}
.naked-table td {
    border: none !important;
}

